<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="neeoConnectionString" connectionString="Data Source=neeotest.neeopal.com,1433;Initial Catalog=XMPPDb;Persist Security Info=True;User ID=neeo-dev;Password=u$M@n2019" />
    <!--<add name="neeoConnectionString" connectionString="Data Source=neeotest.neeopal.com,1433;Initial Catalog=XMPPDb;Persist Security Info=True;User ID=ssa;Password=@kram78" />-->
    <!--<add name="neeoConnectionString" connectionString="Data Source=DELL,1433;Initial Catalog=XMPPDb;Persist Security Info=True;User ID=sa;Password=pakistan"/>-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="domain" value="karzantest.net" />
    <!--File server related variables-->
      <add key="avatarHandler" value="GetAvatar.ashx" />
      <add key="imageHandler" value="GetFile.ashx" />  
      <add key="fileServerURL" value="localhost" />
      <add key="imageExtension" value="jpg" />
      <add key="rootPath" value="D:\Neeo Storage" />
      <add key="profileDirectory" value="Profile" />
      <add key="sharedFilesPath" value="Shared Files" />
      <add key="fileServers" value="dell:127.0.0.1" /><!--local-ip/computer-name:international-ip-dell:127.0.0.1;-->
      <add key="fileStorePort" value="9003" />
      <add key="signatureKey" value="@!#N330#!@" />
      <add key="encryptionDecryptionKey" value="@~NeE0#20P0wEr4L14!$" />
      <add key="webProtocol" value="http" />
      <add key="fileTransferSupportedVersions" value="NEEO-2.0.4,Neeo-1.0.4" />
      <add key="groupImageRootPath" value="D:\Neeo Storage\Group" />
    

    <!---->
    <!--Xmpp User Service related variables-->
    <add key="adminKey" value="xVhG4buE" />
    <add key="xmppBaseURL" value="http://localhost:9090" />
    <!--<add key="xmppBaseURL" value="http://neeotest.neeopal.com:9090" />-->
    <!---->
    <!--Request response logging-->
      <add key="logRequestResponse" value="true" />
    <!---->
  </appSettings>
  <log4net>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} - %logger - %message%newline  %exception%newline%newline%newline" />
      </layout>
    </appender>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Info.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} - %logger - %message%newline  %exception%newline%newline%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="InfoFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
    </root>
  </log4net>
  <system.web>
    <customErrors defaultRedirect="Error/400.html" redirectMode="ResponseRewrite" mode="RemoteOnly">
      <error statusCode="404" redirect="Error/404.html" />
    </customErrors>
    <identity impersonate="true" userName="test" password="test" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647"></binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="FileSharingService.NeeoFileSharingService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="restFulBehavior" contract="FileSharingService.INeeoFileSharingService">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restFulBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
