<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="neeoConnectionString" connectionString="Data Source=localhost,1433;Initial Catalog=OpenfireDb;Persist Security Info=True;User ID=sa;Password=pakistan" />-->
    <add name="neeoConnectionString" connectionString="Data Source=ZOHAIB-LAPTOP; Initial Catalog=XMPPDb;Persist Security Info=True;User ID=sa;Password=pakistan" />
  </connectionStrings>
  <appSettings>
    <!--Request response logging-->
    <add key="logRequestResponse" value="true" />
    <add key="urls" value="http://localhost:9004/;http://nsvc-notify-stage.neeopal.com/;http://neeotest.neeopal.com:9004/" />
    <add key="timerInterval" value="270000" />

    <!---->
    <!--Push Notification-->
    <add key="incomingCallingMsgText" value="[callerName] is calling" />
    <add key="mcrMsgText" value="You have a missed call from [callerName]" />
    <add key="groupMsgText" value="Message from [senderName] @ [roomSubject]" />
    <add key="mcrServiceUrl" value="http://rtsipstage.neeopal.com/NeoWeb/mcr.php" />
    <add key="domain" value="karzansoft.net" />
    <add key="xmppBaseURL" value="http://localhost:9090" />
    <!--iOS-->
    <add key="appleCertificatePath" value="E:\Personal Projects\PowerfulPal\PushCertificate.p12" />
    <add key="appleCertificateType" value="production" />
    <!--debug|production-->
    <add key="appleCertificatePwd" value="Powerful123" />
    <add key="iosApplicationMcrTone" value="mcrtone.mp3" />
    <add key="iosIncomingCallingTone" value="ringtone.mp3" />
    <add key="actionKeyText" value="Answer" />
    <add key="notificationMsgLength" value="100" />
    <!---->
    <!--Android-->
    <add key="pushyApiKey" value="971db5b067d975dd62306689b9852b83192e00bbbaa1b9b0ac0240cd67b8356a" />
    <add key="googleAPIKey" value="AIzaSyBGcLfI-_linnfvcWt9Tdo3olY4dYgJVuc" />
    <!---->
    <!--Windows-->
    <add key="windowsPackageName" value="POWERFULPALLTD.Neeo" />
    <add key="windowsSId" value="ms-app://s-1-15-2-1027086546-3793768442-914081366-159525117-234043670-2279954648-2289932992" />
    <add key="windowsClientSecret" value="zwj31+N0gDU2gFwXXTSFN4wrLkGtKZ1/" />
    <!---->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} - %logger - %message%newline  %exception%newline%newline%newline" />
      </layout>
    </appender>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Info.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} - %logger - %message%newline  %exception%newline%newline%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="InfoFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
    </root>
  </log4net>
</configuration>