<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="XMPPDbConnectionString" connectionString="Data Source=neeotest.neeopal.com;Initial Catalog=XMPPDb;User ID=sa;Password=@kram78"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="userService" value="http://neeotest.neeopal.com:9000/Service/NeeoActivationService.svc/RegisterUser"/>
    <add key="password" value="cef2a1a9d19a5b460a4353ab4728dbcd"/>
    <add key="voipUsersDetail" value="http://rtsip.neeopal.com/checksip.php"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>